[2012-07-12 19:51] gr2m opened #1 "missing package.json in how-to-11 branch?"
In the section [NPM-Ness](https://github.com/hoodiehq/documentation/blob/master/worker.md#npm-ness) you introduce the `packgage.json` file, but the link below leads to [how-to-11 branch](https://github.com/hoodiehq/worker-log/tree/how-to-11) which does not include it yet. Is that on purpose?

[2012-07-12 19:54] #1 closed, assigned to nobody

[2014-02-10 19:13] janl opened #4 "Document plugin global shares"
https://github.com/hoodiehq/hoodie-plugin-global-share/

[2014-02-10 19:21] zoepage opened #5 "Document custom plugin views in pocket"

[2014-02-10 19:24] zoepage opened #6 "Document payments"

[2014-02-10 19:30] zoepage opened #7 "Document User Registration Flow"

[2014-02-10 19:30] zoepage opened #8 "Document Security"

[2014-02-10 19:33] zoepage opened #9 "Document try.hood.ie"

[2014-02-10 19:33] zoepage opened #10 "Document docker"

[2014-02-10 19:35] zoepage opened #11 "Document my-first-hoodie"

[2014-02-10 19:35] zoepage opened #12 "update hoodie-plugin-template"

[2014-02-10 19:44] zoepage opened #13 "Document hoodie.id()"
@gr2m:

We now have a new API: hoodie.id().

hoodie.id() generates and persists a random ID that is unique to the current user, independent of whether the user has an account or not. The id stored with every object in the createdBy attribute.

[2014-02-10 19:44] janl opened #14 "document task api"
https://github.com/hoodiehq/hood.ie/issues/45

[2014-02-10 19:46] janl opened #15 "Add export COUCH_URL to docs #38"
https://github.com/hoodiehq/hood.ie/issues/38

[2014-02-10 19:47] zoepage opened #16 "Instructions of installation on Fedora 19 (and newer)"
https://github.com/hoodiehq/hood.ie/issues/40

[2014-02-10 19:47] janl opened #17 "add instructions for deploying hoodie to OpenShift #22"
https://github.com/hoodiehq/hood.ie/issues/22

[2014-02-10 19:48] janl opened #18 "documentation for account.hasAccount and account.hasAnonymousAccount #11"
https://github.com/hoodiehq/hood.ie/issues/11

[2014-02-10 19:48] zoepage opened #19 "Get docs from actual repos instead of maintaining them multiple times"
@espy:
Idea: have some empty <div class="replaceWithDocs" data-origin="gh-pagesURLOfRepo" data-id="elementWithTheDocsWeWant"></div> in hood.ie, $.load() all the referenced docs pages, pluck the respective elements from them and insert them in place of the placeholders.

This way, both the repos themselves and the hood.ie page will always up to date docs.

https://github.com/hoodiehq/hood.ie/issues

[2014-02-10 19:50] janl opened #20 "Update docs: new order in namespaced events #34"
https://github.com/hoodiehq/hood.ie/issues/34

[2014-02-10 19:51] janl opened #21 "'authenticated' is now 'reauthenticated' #39"
https://github.com/hoodiehq/hood.ie/issues/39

[2014-02-10 19:52] janl opened #22 "Figure out translations"

[2014-02-10 19:52] zoepage opened #23 "ship 5 min screencast"
introduction to hoodie:
- what is hoodie?
- what does it?
- does it suite my use case?

[2014-02-10 19:52] janl opened #24 "Document deployments"

[2014-02-18 23:27] gr2m opened #25 "use .done / .fail callbacks for code frontend examples"
do not alter between .done & .then without explanation

[2014-03-14 13:26] janl opened #26 "links to many doc tools and examples"
https://github.com/PharkMillups/beautiful-docs

[2014-05-05 14:13] janl opened #27 "Request for Comments: Documentation and translation setup"
**We’d like to have comprehensive documentation for [Hoodie](http://hood.ie)**, including guides, tutorials, auto-generated API docs and the like. The whole shebang.

We also would like to make it possible for contributors to manually translate the original English documentation into all the languages they can think of.

For this, we need a documentation and translation system that roughly has the

[2014-05-05 14:51] niallobrien commented on #27
Sounds like a project I'd hack on if you guys don't get any suitable recommendations. :)

[2014-05-05 14:51] 0x-r4bbit commented on #27
Started collecting inspiration a while ago for the sofa project too, maybe interesting https://github.com/sofa/docs/issues/1

We decided to use Dgeni (http://github.com/angular/dgeni) which is a very flexible tool to generate documentation. Basically it just executes defined processors in a pipe, which let's you generate whatever you want. The downside: the tool is very good documented yet, so it'

[2014-05-05 15:05] annegentle commented on #27
I believe Mozilla Kitsune meets all these requirements, though I don't know the workflow system well. Take a look at https://github.com/mozilla/kitsune/

[2014-05-05 15:23] andywenk commented on #27
I just started to integrate the documentation creation process in the swirl project (https://github.com/skunkwerks/swirl/tree/feature/docs). Basically we are using
- Hugo for HTML file creation from markdown files: http://hugo.spf13.com/overview/introduction
- git as the review tool
- a simple make task to create the docs
- push the created docs via rsync or git checkout + creation with hugo to a

[2014-05-05 15:30] HipsterBrown commented on #27
I have heard great things about [Assemble](http://assemble.io), a static site generator built with Node.js , Grunt, and Yeoman, as it is used to generate Zurb's Foundation Docs. It is an open-source project, https://github.com/assemble/assemble/, so it can be contributed to and extended to fit your needs.

Being built with Node feels like a nice fit with Hoodie's stack and experience as well. The

[2014-05-05 16:13] lovelydinosaur commented on #27
One to consider: [MkDocs](http://mkdocs.org)

[2014-05-05 19:47] mindcrash commented on #27
+1 for [Assemble](https://github.com/assemble/assemble). Already used in production by projects such as Zurb Foundation, but also Zurb Ink, H5BP, Effeckt, Less, Topcoat, the Web Experience Toolkit and tons of other projects. Best three features: it's written on top of Node (which we all love, right?), uses Handlebars (with tons of extensions, and extension points to add even more), and is extremel

[2014-05-07 10:30] siebrand commented on #27
My suggestion is not something that's used on GutHub, but to use [MediaWiki](https://www.mediawiki.org) together with the [Translate extension](https://www.mediawiki.org/wiki/Help:Extension:Translate). Aside from online translation, it also supports offline translations and re-import for the die-hard gettext lovers out there. [KDE UserBase Wiki](http://userbase.kde.org) is a great example of a com

[2014-05-12 08:26] janl commented on #5
cc https://github.com/hoodiehq/pocket/issues/45

[2014-05-12 08:42] janl commented on #12
https://github.com/hoodiehq/hoodie-plugin-template

[2014-05-19 09:43] gr2m commented on #4
I'll look into it tomorrow

[2014-05-19 10:47] gr2m commented on #4
is documenting the plugin in its README sufficient? Is there something existing I can take as blueprint?

[2014-05-19 10:50] janl commented on #4
Readme is fine for now, the docs team can take it from there (cc @snnd @tenmilestereo)

[2014-05-20 21:44] keimlink commented on #27
I maintain a [multilingual Django tutorial](http://django-marcador.keimlink.de/) and the translations are managed on [Transifex](http://django-marcador.keimlink.de/). It's free for Open Source projects and they have a great browser editor to translate the message catalogs. Transifex makes it very easy for contributers to add or improve translations because they just need their browser to do it. Th

[2014-05-26 10:58] zoepage commented on #5
almost done with https://github.com/hoodiehq/hoodie-plugin-template right?

[2014-05-26 11:36] janl commented on #5
@zoepage what I imagine is a guide like espy/hoodie-plugin-guide (in fact, I imagine it as a section of that guide) that goes through all the steps one needs to do to write a pocket plugin.

[2014-06-02 12:27] mindcrash commented on #27
Seems another great option for writing documentation just popped up: http://raneto.com/.

It's a Node based SSG specifically designed for building documentation sites / knowledgebases. Templates are based on Mustache (which is probably a big plus for Jan given mustache.js ;) ) and Markdown.

[2014-06-06 14:22] espy commented on #5
So does Ola's update of the Plugin Tutorial (https://github.com/hoodiehq/hoodie-plugin-tutorial) plus the UIKit guide (hoodiehq.github.io/hoodie-pocket-UIKit/) satisfy this issue? We're still missing the hoodieAdmin bits, but that's up for a rewrite anyway, so I'm not sure.

[2014-06-06 14:24] janl commented on #5
Looks good to me!

[2014-06-06 14:24] #5 closed, assigned to nobody

[2014-06-12 20:39] boennemann opened #32 "Installation for Win, Linux, MacOS"
- [x] how to install Hoodie including all dependencies for win
- [x] how to install Hoodie including all dependencies for linux
- [x] how to install Hoodie including all dependencies for macos
- [x] include special Hoodie-Wordings (e.g. difference between API / plugins)

[2014-06-12 20:41] boennemann opened #33 "Account Module"
- [x] for frontend: signup etc.

[2014-06-12 20:41] boennemann opened #34 "Storage (Private)"
## Notes

https://github.com/hoodiehq/documentation/blob/master/techdocs/client/hoodie.store.md
## Status

go for it :shipit:

[2014-06-12 20:44] boennemann opened #36 "Shares"
- [x] global shares
- [ ] public shares

## Notes
pending, but 95% done, primary bugfixing

see also: #4

[2014-06-12 20:47] boennemann opened #38 "User Plugin"
backend component of account module

[2014-06-12 20:47] boennemann opened #39 "Payments"

[2014-06-12 20:50] boennemann opened #40 "my-first-plugin (plugin development)"
@zoepage The document says "pending", but it's written in green, so it's also ready? Please clarify and close this issue if it's already done (:

[2014-06-12 20:52] boennemann opened #41 "Hoodie Concepts"
- [x] Offline First
- [x] noBackend
- [x] Dreamcode

[2014-06-12 21:20] boennemann opened #42 "Hoodie + Cordova/PhoneGap"
One question that often arises in IRC is if there's something to be considered when using hoodie together with PhoneGap.

As far as I can remember the answer has always been a simple _no_. Is there anything to add here or can we just put this in the [FAQ document](https://github.com/hoodiehq/documentation/wiki/The-Hoodie-FAQ-%E2%80%93%C2%A0Work-in-Progress) right away?

[2014-06-13 08:00] gr2m commented on #42
I'd say yes. Just add a simple _no_, we can change it later in case anyone runs into trouble. But I couldn't think of any.

[2014-06-13 08:06] gr2m commented on #33
fyi the account module is source for lots of confusion, so we are considering to rethink the method names. Any feedback / input is much appreciated

[2014-06-13 09:24] boennemann commented on #42
https://github.com/hoodiehq/documentation/wiki/The-Hoodie-FAQ-%E2%80%93%C2%A0Work-in-Progress#is-there-anything-to-be-considered-when-using-hoodie-together-with-phonegapcordova

[2014-06-13 09:24] #42 closed, assigned to nobody

[2014-06-17 13:12] gr2m opened #43 "fyi: good resource of "Beautiful Docs""
https://github.com/PharkMillups/beautiful-docs (via https://twitter.com/smashingmag/status/478832634320420864)

[2014-06-17 14:02] zoepage commented on #43
thank you. i really love this!

[2014-06-17 18:47] zoepage commented on #40
it needs a review to be honest ;)

[2014-06-19 10:13] zoepage commented on #34
https://github.com/hoodiehq/hood.ie/issues/70

[2014-06-27 10:57] #4 closed, assigned to nobody

[2014-06-30 12:24] cathyhuis opened #44 "HTTPS connection?"
Is it possible to use a HTTPS connection for Hood.ie? Or does Hood.ie encrypt the passwords anyway?

[2014-06-30 12:48] janl commented on #44
Hoodie does not itself do HTTPS, we recommend using HAProxy for that. See my-first-hoodie/deployment.md for details

[2014-07-09 20:17] ghost commented on #34
I've documented every public function except for the decoratePromises, because I am not sure if this is only public by mistake or if it serves any deeper purpose.

Let's see if anything is missing or if we can pass this for english proofreading.

[2014-07-09 20:25] gr2m commented on #34
we will remove the decoratePromises feature from hoodie.js, it didn't turn out to be useful, but adds quite some complexity and probably performance impacts. So just leave it out from the docs.

[2014-07-10 09:48] lewiscowper commented on #34
ping me on a ticket if you want it proofreading. :+1: Nice work getting it documented too.

[2014-07-10 13:02] zoepage commented on #44
Is the answer enough for you @cathyhuis? :)
So we could close the issue ;)

[2014-07-11 10:46] #44 closed, assigned to nobody

[2014-07-11 10:57] zoepage opened #45 "Hoodie Magic"
- [x] Promises
- [x] noBackend
- [x] CouchDB structure

[2014-07-11 11:06] zoepage opened #47 "plugin development"
- [ ] architecture & concepts (tasks, worker, hooks)
- [ ] frontend
- [ ] backend
- [ ] pocket

[2014-07-11 11:17] zoepage opened #48 "How to get started pt 1"
- [ ] starting hoodie-cli
- [ ] creating new app (default or custom with -t)
- [ ] including the script
- [ ] window.hoodie object

[2014-07-11 11:19] zoepage opened #49 "How to get started pt 2"
- [ ] show the API components in app tutorial

#### structure
- [ ] signup / account
- [x] store
- [ ] sync / event listeners
- [ ] share / email

// in coop with @boennemann

[2014-07-11 11:31] zoepage opened #50 "How to get started pt 3"
- [ ] show how the dashboard works and what you can do with it

[2014-07-11 11:46] gr2m commented on #45
Goes Offline First in here, too?

[2014-07-11 12:01] zoepage commented on #45
no, this is hoodie concepts

[2014-07-17 13:50] lenareinhard commented on #41
https://github.com/hoodiehq/documentation/blob/gh-pages/tutorials/hoodie-concepts.md

[2014-07-17 13:52] lenareinhard commented on #32
as far as I see it, we should differentiate to a) make docs easier to maintain, b) not have the same "all in one place and people get confused"-problem we have up to now. Suggestion:
- [x] prerequisites / system requirements / browser compatibilities https://github.com/hoodiehq/documentation/blob/gh-pages/tutorials/system-requirements-browser-compatibilities-prerequisites-before-getting-started-wi

[2014-07-17 13:54] lenareinhard commented on #45
- noBackend + CouchDB are in here: https://github.com/hoodiehq/documentation/blob/gh-pages/tutorials/how-hoodie-works-behind-the-magic.md
- Promises are missing.

[2014-07-17 18:54] zoepage commented on #32
i love the idea @ffffux

prerequisites:
we should add how to install on MAC OS with brew. How this is done, is described on hood.ie.

actual installation:
+1

special wordings:
+9000

[2014-07-17 19:39] lenareinhard commented on #32
Thanks a lot for the feedback, will do!

[2014-07-17 21:25] janl commented on #32
@ola brew on mac creates more problems for beginners than it helps.

Our recommendation for Mac OS X should be:
1. install the binary packages of Node.js from nodes.org
2, download the CouchDB App from couchdb.apache.org

If you are an experienced Mac dev, you can opt to install Node and CouchDB via homebrew, but beware:
1. Node.js will install without npm and print extra install instructions at t

[2014-07-17 22:40] boennemann commented on #32
@janl @zoepage nickname confusion complete

[2014-07-18 07:43] zoepage commented on #32
@janl good point! wasn't aware of how many problems brew makes. the thought was just to have something to reduce the steps you need to take to install hoodie. :)

s.th. different:
we should add an information for browser support on the installation guide or somewhere else.
it's nice to know and gets important imo when we add special features like service worker later and the browser support change

[2014-07-18 07:56] lenareinhard commented on #32
@zoepage re:browser support – good point, we should have system requirements and compatibilities somewhere, where we could add this plus link issues like the known Windows bug. (Can add it here, then I'd suggest renaming the "prerequisites" doc to "system requirements, browser compatibilities and prerequisites for installation" or similar)

[2014-07-18 07:56] zoepage commented on #32
@ffffux purrrrfect! thank you <3

[2014-07-18 08:06] lenareinhard commented on #32
note re: actual installation guide – aligns with #16, which should be included

[2014-07-21 16:52] gr2m opened #54 "store.validate() Notes are unclear"
Not sure what you mean by this?

[2014-07-21 16:54] gr2m opened #55 "store.save is deprecated"
while it is still in the public API, it will be removed before 1.0, as it is destructive. Instead, people shall use `store.add` & `store.update` instead.

[2014-07-21 16:54] zoepage commented on #55
cc @snnd

[2014-07-21 17:02] gr2m opened #56 "Leave out the BAD VARIATION example of hoodie.store.findOrAdd"
The code is not correct as is, it's even more complex because of the promise handling. I'd suggest to remove the code altogether, it probably is more confusing than helpful?

[2014-07-21 17:39] gr2m opened #59 "remove techdocs/api/client/hoodie.email.md"
`hoodie/src/hoodie/email.js` does not exist anymore, `hoodie.email` is not part of Hoodie core, it lives in https://github.com/hoodiehq/hoodie-email-plugin

[2014-07-21 17:39] zoepage commented on #56
Cc @snnd

[2014-07-21 17:45] gr2m opened #61 "remove docs on Hoodie Payments for now?"
We won't ship it anytime soon, and it's not part of the core

[2014-07-22 09:55] lenareinhard commented on #39
see #61 cc @zoepage

[2014-07-22 09:58] lenareinhard commented on #6
see #61 and #39

[2014-07-22 09:59] lenareinhard commented on #61
#6 cc @zoepage

[2014-07-22 10:01] lenareinhard commented on #43
see #26

[2014-07-22 10:01] lenareinhard commented on #26
see also #43

[2014-07-22 10:22] ghost commented on #55
marked save as deprecated with commit 97eb4650e9204f716bd85c6b314995d82d259448

[2014-07-22 10:22] #55 closed, assigned to nobody

[2014-07-22 10:24] ghost commented on #54
By this I wanted to express, that die object id, internally is a combination of store name and random object id. Any better suggestions on that?

[2014-07-22 10:26] ghost commented on #56
Leaving this part out would be fine with me. Any other opinions on that anyone?

[2014-07-22 10:31] lenareinhard opened #64 "Document deployment of *.hood.ie pages"

[2014-07-22 10:36] ghost commented on #59
removed with commit 1b3a1332b3d767b28bf8825bd5293aa4607c8c21

[2014-07-22 10:36] #59 closed, assigned to nobody

[2014-07-22 13:04] lenareinhard opened #65 "Document contributor onboarding"
moved to https://github.com/hoodiehq/documentation/blob/gh-pages/tutorials/contributor-onboarding.md

[2014-07-22 13:31] gr2m commented on #54
the combination of type & id to a "type/id" key is internal only, I would not document that at all.

[2014-07-22 14:03] lenareinhard commented on #65
sources for further reading:
-  http://www.mediawiki.org/wiki/Project:New_contributors
-  http://www.mediawiki.org/wiki/How_to_contribute
-  page 19 (research-based model) https://www.right.com/thought-leadership/research/shrm-foundations-effective-practice-guidelines-series-onboarding-new-employees-maximizing-success-sponsored-by-right-management.pdf
-  http://blog.smartbear.com/programming/14-wa

[2014-07-25 06:36] zoepage commented on #39
closed bc #61 & #6

[2014-07-25 06:36] #39 closed, assigned to nobody

[2014-07-25 06:36] #61 closed, assigned to nobody

[2014-07-25 06:37] zoepage commented on #6
this issue should be remembered as long as it is still one of the milestones... so, it stays open! :)

[2014-07-25 06:38] #12 closed, assigned to nobody

[2014-07-25 06:39] #19 closed, assigned to nobody

[2014-07-25 06:40] #18 closed, assigned to nobody

[2014-07-25 06:41] zoepage commented on #56
+1

[2014-07-25 06:42] zoepage commented on #54
+1 on not documenting that.

[2014-07-25 06:43] #40 closed, assigned to nobody

[2014-07-25 06:44] zoepage commented on #47
covered with the amazing tutorial by @espy

[2014-07-25 06:44] #47 closed, assigned to zoepage

[2014-07-25 06:44] #43 closed, assigned to nobody

[2014-07-25 06:47] zoepage commented on #25
@gr2m are there any examples where this happened or is this suggestion made in general?

[2014-07-25 06:48] zoepage commented on #23
see #32 #46 #47 #48 #49 #50

[2014-07-25 06:49] zoepage commented on #22
any progress here yet?
@boennemann

[2014-07-25 06:49] #20 closed, assigned to nobody

[2014-07-25 07:50] gr2m commented on #25
it's just a general suggestion. Unless the docs team has objections to stick with `.done` and `.fail` callbacks only in the high level code examples, let's close this :)

[2014-07-25 07:50] #25 closed, assigned to nobody

[2014-07-25 09:54] ghost commented on #54
removed with 7012d5ad91221465eac07ad83ebf6fb9a5ced749

[2014-07-25 09:54] #54 closed, assigned to nobody

[2014-07-25 09:56] ghost commented on #56
removed with b877929b7d3dfa0a884ae4e74cde61ae7338ad63

[2014-07-25 09:57] #56 closed, assigned to nobody

[2014-07-25 11:18] boennemann commented on #22
I wasn't aware that I should search for a solution here. If I should do so, even though @gr2m mentioned this isn't too relevant for 1.0 launch, please tell me so, along with some sort of specification/requirements to cover (:

[2014-07-25 11:39] zoepage commented on #22
// cc @janl

[2014-07-25 11:50] lenareinhard commented on #22
@boennemann @gr2m and I were talking about website (not docs) translations, and as Gregor and I agreed on, although we'll only launch with one language, we'll have to keep in mind the translations topic for the website relaunch. But this is off-topic here. So, regarding docs translations: there may be overlaps with the website translation regarding the technical implementation, but this will have

[2014-07-25 12:30] zoepage commented on #22
+1

[2014-07-30 09:20] lenareinhard commented on #32
fyi: changed assignee to me

[2014-07-31 11:08] zoepage opened #67 "appconfig plugin"

[2014-08-14 08:09] #41 closed, assigned to nobody

[2014-08-14 11:04] #45 closed, assigned to zoepage

[2014-08-14 11:14] zoepage commented on #32
Here just the browser compatibilities are missing and also the link to the how to get started with hoodie tutorial. The rest is reviewed. :)

@gr2m could you please add the browser compatibilities? Would be amazing!

[2014-08-14 11:21] gr2m commented on #32
here it is, could you work it in please, I'm drowning a bit right now
- Firefox latest stable (v29)
- Chrome latest stable (v34)
- Desktop Safari latest stable (v7)
- Internet Explorer v10+
- Opera latest stable (v21)
- Android 4.3+
- iOS Safari latest stable (v7.1)

same as [PouchDB's Browser support](http://pouchdb.com/learn.html#browser_support)

[2014-08-14 11:30] lenareinhard commented on #32
thanks, @gr2m, added https://github.com/hoodiehq/documentation/blob/gh-pages/tutorials/system-requirements-browser-compatibilities-prerequisites-before-getting-started-with-hoodie.md

[2014-08-14 11:52] zoepage commented on #32
Thank you, you 2!!! <3

[2014-08-15 11:59] zoepage commented on #34
@snnd how is the status here? is hoodiehq/hood.ie#70 solved?

[2014-08-15 13:14] lenareinhard commented on #65
reviewed recent changes, added further content (see https://github.com/hoodiehq/documentation/commit/ca33039f13d045b211cfe1f7f243d26a9b3ea2a0 ). Imo, the doc is ready to go for its first iteration. Will (have to) be worked on frequently anyway.

Thus: suggestion to close this issue and mark as done. cc @zoepage

[2014-08-15 13:38] zoepage commented on #65
thank you @ffffux <3

[2014-08-15 13:38] #65 closed, assigned to lenareinhard

[2014-08-16 07:54] janl commented on #34
Added my review as a pull request: https://github.com/hoodiehq/documentation/pull/70

[2014-08-16 07:57] janl commented on #32
the requirements doc looks good to me.

[2014-08-18 14:05] boennemann commented on #34
Please merge/review #71 before merging ~~this one~~ #70.

[2014-08-25 08:45] lenareinhard commented on #32
imho we can close this issue now

[2014-08-25 08:50] #32 closed, assigned to nobody

[2014-08-29 14:55] zoepage opened #72 "cheatsheet"
include cheatsheet in documentation.

- all the methods at one place are listed
- links to right place in documentation are provided like here
http://v2.getkirby.com/docs/cheatsheet

[2014-09-14 15:03] #48 closed, assigned to nobody

[2014-09-14 15:04] #26 closed, assigned to nobody

[2014-10-08 10:04] janl commented on #24
Steal from https://github.com/hoodiehq/my-first-hoodie/blob/master/deployment.md

[2014-10-13 08:17] zoepage commented on #13
Is this already documented somewhere?
cc @gr2m @svnlto @janl @espy @caolan

[2014-10-13 08:18] zoepage commented on #6
I've assigned @gr2m to this, bc he is on the development of the plugin. So it will be remembered ;)

[2014-10-13 11:16] gr2m commented on #13
Don't think so, but happy to help

[2014-10-13 11:17] gr2m commented on #6
is this needed for the new website?

[2014-10-13 11:34] zoepage commented on #6
we will need this later on!

[2014-10-13 17:02] janl commented on #6
just FYI: payments are nowhere near done yet, sorry.

[2014-10-26 12:12] passy opened #76 "hoodie.account.md has unresolved merge conflicts"
There are a couple of `<<<<<<< HEAD`s left in the account docs at the moment. :)

https://github.com/hoodiehq/documentation/blob/6eb871cc0d185a6cd48a6941f0c40ea2c9a8f390/techdocs/api/client/hoodie.account.md

[2014-11-07 14:41] lenareinhard opened #77 "Hoodie Cheat Sheet fixes"
Cheat Sheet basis is here: https://github.com/hoodiehq/hoodie.js/blob/master/CheatSheet.md
- [x] '.addOrUpdate(type, id, properties' -> correct command is '.UpdateOrAdd(type, id, properties'
- [x] Hoodie Store: .on is missing (at least that's what the workshop attendees said :) )

[2014-11-07 16:07] zoepage commented on #77
If you know which one, please assign the task to me and I'll finish it asap.

[2014-11-07 16:38] lenareinhard opened #78 "Finish "How to give a Hoodie Workshop"-content + running order"
Draft is here: https://docs.google.com/a/thehoodiefirm.com/document/d/1HijseqxQvPO9auzBuobPvuzv5Y3XQaf_g0u1fhJ3jvo/edit#
It's done in huge parts, but there are a few important things missing (see missing content + comments)

[2014-11-07 19:52] lenareinhard commented on #77
added above. Thanks, @zoepage!

[2014-11-08 09:01] zoepage commented on #77
Hoodie.store.on is in the 3rd column. They might not have seen it :grin:
Fixed the second one.

Where should I put the pdf and also the indd file?

[2014-11-09 15:43] lenareinhard commented on #77
awesome!
Suggestion:
- I'll add the pdf as a direct download to the website
- can we also upload the pdf to the /documentation/tutorials folder? (if it makes sense there?)

[2014-11-11 11:16] lenareinhard commented on #78
moved draft to GitHub https://github.com/hoodiehq/documentation/blob/gh-pages/tutorials/hosting-a-hoodie-workshop.md

[2014-11-11 17:34] lenareinhard commented on #64
new hood.ie website doesn't need deployments. closing the issue.

[2014-11-11 17:34] #64 closed, assigned to nobody

[2014-11-12 22:30] brianshumate commented on #72
[This gist](https://gist.github.com/brianshumate/3431d40711365b2a3141) mostly meets the goals of this issue, and was based on the existing [PDF cheatsheet](http://hood.ie/dist/presentations/hoodie-cheat-sheet.pdf).

However, there are still a few minor points to work out with it:
- It is not especially attractive with GitHub's default table styling
- The in page anchor links from the table of cont

[2014-11-28 13:21] snnd opened #85 "Development/Testing in hoodiehq/hoodie.js#master"
I am missing a straight forward description of how to get started with hoodiehq/hoodie.js master. Usually, when I want to contribute to a project, I just fork their repository, use it as an npm in an isolated project and file a pull request

Since hoodie apps, are a kindof composed boilerplate via hoodie-cli, I miss a straight forward guide, that tell's me how to get started with a setup to contri

[2014-11-28 13:52] zoepage commented on #85
Hey @snnd!
Thanks for your help. If you would like to, we can discuss this topic later and document it here?

Or do you want to get started right away?

[2014-11-28 13:54] ghost commented on #85
No hurry. I just recognized a lack of straight forward documentation when I was about to test a bugfixed issue in hoodiehq/hoodie.js#master.

I appreciate your help on this later today. :) :+1:

[2014-11-28 14:01] zoepage commented on #85
Cool!

It anyone else wants to add some information, please feel free!

[2014-12-01 13:26] #77 closed, assigned to nobody

[2014-12-01 13:27] zoepage commented on #76
yes, sorry, will fix that asap :)

[2014-12-02 14:26] zoepage opened #87 "roadmap"
Here are the next steps to take:

- [x] adding new design
- [x] moving all design files to src folder
- [x] review content structure
- [x] add all content to the aside menu

- [x] new structure for content (smart URLS)
- [x] add subnavigation
- [x] add templates for subnavigation
- [x] add cheatsheet to footer
- [x] change folder structure (translations)
- [x] translate navigation and initial page

[2014-12-10 10:23] zoepage opened #93 "main nav"
add main nav

[2014-12-11 12:02] zoepage commented on #93
done

[2014-12-11 12:02] #93 closed, assigned to zoepage

[2014-12-16 09:29] #76 closed, assigned to nobody

[2014-12-16 09:31] zoepage commented on #78
the document now lives here: http://docs.hood.ie/community/hosting-a-hoodie-workshop.html

I added content. If you @ffffux think it's ok, please close the issue. thank you :)

[2014-12-16 09:32] lenareinhard commented on #78
thanks, @zoepage <3

[2014-12-16 09:32] #78 closed, assigned to nobody

[2014-12-16 09:32] #33 closed, assigned to nobody

[2014-12-16 09:33] #34 closed, assigned to nobody

[2014-12-16 09:33] #21 closed, assigned to nobody

[2014-12-16 09:48] #16 closed, assigned to nobody

[2014-12-16 09:48] #14 closed, assigned to nobody

[2014-12-18 14:30] janl opened #103 "Responsive: wrap long code lines"

[2014-12-18 14:52] janl opened #104 "remove extra type="javascript""
“<script type="javascript"> << type attribute isnt really needed anymore given your doctype is 'html'..” — @svnlto

[2014-12-19 20:30] gr2m commented on #85
I think if a unit test is enough, you can simply
1. git clone hoodie.js
2. npm install
3. grunt test

If you want to test the changes with a Hoodie app, `npm link /path/to/hoodie.js` in your app folder, then add `hoodie.hoodie.js` to your package.json

[code]

Simply reloading the app should trigger hoodie-server to re-bundle the `/_api/_files/hoodie.js` file, now using your local fork.

Hope that

[2014-12-22 11:06] gr2m commented on #67
Happy to help here, just let me know where and how :)

It might be as simple as copy / pasting content from the README's of https://github.com/hoodiehq/hoodie-plugin-appcache & https://github.com/gr2m/appcache-nanny/

[2014-12-22 13:52] gr2m opened #107 "Custom fonts not loading"
tested in latest Chrome / Firefox / Safari

![screen shot 2014-12-22 at 14 51 52](https://cloud.githubusercontent.com/assets/39992/5525681/1f324fb4-89ea-11e4-8143-f5c196fde8bd.png)

---

ping when fixed
- [ ] https://twitter.com/anthonyringoet/status/547014424247422976

[2014-12-24 21:48] zoepage commented on #107
https://github.com/hoodiehq/documentation/pull/108

[2014-12-25 09:51] stasberkman opened #109 "Question"
Why i cannot logged in as admin with the password i have set in hoodie start command

[2014-12-25 10:11] janl commented on #109
This is a know bug that will be fixed in the next release. In the meantime, when entering the password on the admin login, put double quotes around it, e.g. If your password is `foo` type in `"foo"`.

Thank you for your patience :)

Best

## Jan

[2014-12-28 20:02] zoepage opened #110 "font issue"
https://github.com/hoodiehq/documentation/pull/108#issuecomment-68103683

@verpixelt could you please help with this if you have some time? would be super awesome!
<3

[2014-12-28 20:06] zoepage commented on #109
@stasberkman can this issue be closed? :)

[2014-12-28 20:06] zoepage commented on #107
fixed. added follow up issue #110

[2014-12-28 20:06] #107 closed, assigned to nobody

[2014-12-28 20:07] zoepage commented on #104
where?

[2014-12-28 20:19] zoepage commented on #67
@gr2m this is not about the appcache, it's about the core plugin: https://www.npmjs.com/package/hoodie-plugin-appconfig

[2014-12-28 23:01] stasberkman commented on #109
Yes thanks

[2014-12-28 23:24] #109 closed, assigned to nobody

[2014-12-29 11:24] verpixelt commented on #110
Sure! I'll have a look in the next view days. <3

[2015-01-16 10:04] PDXIII opened #115 "Wrong ports in getting-started-1.md"
You described the wrong ports in your tutorial.

You wrote:

    WWW:    http://127.0.0.1:6040
    Admin:  http://127.0.0.1:6041
    CouchDB started: http://127.0.0.1:6042

But actually are:

    WWW:    http://127.0.0.1:6004
    Admin:  http://127.0.0.1:6005
    CouchDB started: http://127.0.0.1:6006

It would be better if the images get changed, too

[2015-01-16 10:23] badboy commented on #115
As mentioned in the IRC: the ports are not really wrong. Due to the way Hoodie picks new and free ports with multiple apps it can very well end up at 6040.
It might be good too have a short explanation that ports might vary.

[2015-01-19 13:43] #22 closed

[2015-01-19 13:44] zoepage commented on #24
http://docs.hood.ie/en/deployment/linux.html do we need more @janl ?

[2015-01-19 13:51] #7 closed

[2015-01-19 13:54] zoepage commented on #10
i'm closing this issue. If we get to the docker point, we can reopen it.

[2015-01-19 13:54] #10 closed

[2015-01-19 13:55] zoepage opened #116 "write tutorial for MFH"

[2015-01-19 13:56] zoepage commented on #11
closing in favour of #116

[2015-01-20 11:22] zoepage commented on #115
Added note in b57b6a1bead6e2c9c75d2414bed3454f41b33a15

[2015-01-20 11:22] #115 closed

[2015-01-20 11:22] janl commented on #24
LGTM!

[2015-01-20 11:23] #24 closed

[2015-01-20 11:24] PDXIII commented on #115
\o/

[2015-01-20 11:25] zoepage commented on #110
this issue will solve itself with the move of the css-repo.

[2015-01-20 11:25] #110 closed

[2015-01-20 11:25] zoepage commented on #104
@jan ?

[2015-01-20 11:26] zoepage commented on #72
@brianshumate sorry for getting back so late. your gist was a huge help! thanks for that!!! :+1:
You can find the cheatsheet in the footer of the docs.

thanks <3

[2015-01-20 11:26] #72 closed

[2015-01-20 11:28] zoepage opened #118 "document public shares"
[ ] write public shares plugin
[ ] document public shares

[2015-01-20 11:28] zoepage commented on #36
closing in favour of #118

[2015-01-20 11:28] #36 closed

[2015-01-20 11:33] zoepage commented on #27
closing this issue, as we found a solution. will reopen, if current solution isn't working out.

[2015-01-20 11:33] #27 closed

[2015-01-20 11:34] zoepage commented on #23
closing this issue, as we won't have the resources in any near time...

[2015-01-20 11:34] #23 closed

[2015-01-20 11:35] zoepage commented on #17
@janl is this still a thing? ;)

[2015-01-20 11:35] zoepage commented on #15
status? :)

[2015-01-20 11:35] zoepage commented on #13
@gr2m done, right? :)

[2015-01-20 11:37] badboy commented on #115
:dancer:

[2015-01-20 12:10] janl commented on #17
somebody wanted it, we haven’t done it yet

[2015-01-20 12:11] janl commented on #104
lol, somewhere :D — I can’t remember, closing.

[2015-01-20 12:11] #104 closed

[2015-01-20 12:13] zoepage commented on #17
it's from almost 1 year ago. do you think, it's still relevant? would like to close if not and reopen, if new request comes in?

[2015-01-20 12:37] janl commented on #17
I don’t know, OpenShift is still around I presume. I don’t see value in closing feature requests, if the situation that asked for it didn’t change.

[2015-01-22 14:24] janl opened #121 "document `hoodie.store.updateOrAdd()`"
and find all references of the erroneous `addOrUpdate()`

[2015-01-22 14:31] zoepage commented on #121
https://github.com/hoodiehq/hoodie.js/blob/master/src/lib/store/api/api.js#L186-L199

[2015-01-26 09:43] gr2m commented on #13
@ola besides `hoodie.id()` a few other methods are missing:
- `hoodie.checkConnection()`
- `hoodie.isConnected()`
- `hoodie.open()`
- `hoodie.request()`
- `hoodie.extend()`

Shall i add document them together with `.id()`?

[2015-01-26 09:57] zoepage commented on #13
You can add them here:
http://docs.hood.ie/en/techdocs/api/client/hoodie.html

Thanks a lot!
<3

[2015-01-28 08:48] #13 closed

[2015-01-29 12:40] zoepage opened #125 "add new methods to footer"

[2015-01-29 12:40] zoepage commented on #125
- add method UpdateAndAdd to store

[2015-01-29 20:57] zoepage commented on #125
solved with https://github.com/hoodiehq/documentation/pull/126

[2015-01-29 20:57] #125 closed

[2015-02-04 13:04] zoepage opened #127 "add to docs"
https://github.com/hoodiehq/faq/issues/84#issuecomment-72781232

[2015-02-04 16:35] verpixelt opened #128 "Responsive behaviour main navigation"
It seems like there are media queries missing.
![photo 04-02-15 16 57 37](https://cloud.githubusercontent.com/assets/1640079/6044510/fe388374-ac93-11e4-8d58-69c6df87d312.png)

[2015-02-04 17:22] zoepage commented on #128
We should make the repo split happen soon @verpixelt :/

[2015-02-04 17:35] verpixelt commented on #128
I'll bring my laptop with me on Saturday. Let's take a look at it together then, k?!

[2015-02-04 17:41] zoepage commented on #128
Sounds perfect <3

[2015-02-05 12:38] idanb11 commented on #127
:+1:

[2015-02-12 10:22] #103 closed

[2015-02-18 20:06] juschm opened #136 "Requirements misses prerequisites"
In http://docs.hood.ie/en/hoodieverse/system-requirements-browser-compatibilities-prerequisites-before-getting-started-with-hoodie.html prerequisites are mentioned in the headline but not in the actual text, which makes sense, because there already is another document for that (http://docs.hood.ie/en/start/index.html). Could be resolved by putting a link in or changing the headline.

[2015-02-18 20:12] zoepage opened #137 "Add language buttons / switch in footer + index"

[2015-02-19 09:16] #136 closed

[2015-02-19 10:25] #137 closed

[2015-02-20 14:05] janl opened #142 "Make links clickable in API docs"
E.g. ![screen shot 2015-02-20 at 15 01 42](https://cloud.githubusercontent.com/assets/11321/6287408/9448d0b0-b911-11e4-8cce-f885319c8d75.png)

the link to http://api.jquery.com/jquery.ajax/ is not clickable. I tried a few things locally, but none of them worked:

[code]

No dice whatsoever :/

Might have to do with the table thing we are using?

[2015-02-20 15:56] zoepage commented on #142
the module broke the rendering of the tables. we need to do this by hand.
i'll take care of it :)

[2015-02-24 13:37] #142 closed

[2015-03-22 19:07] zoepage opened #149 "plugin api"
add  https://github.com/hoodiehq/hoodie-plugins-api/blob/master/README.md to api docs

[2015-04-06 03:11] quaxquax opened #151 "Typos and other Spelling Issues"
Typo: "This will come mist handy" in the store.update() section of the docu (after first example).

Should be ""This will come in most handy".

Is there a wiki for the documentation under development?  Would be easiest to correct such simple mistakes on the fly while browsing the wiki.

[2015-04-07 19:36] janl commented on #151
Well spotted! You can fix them here on GitHub all in the web UI: https://github.com/hoodiehq/documentation/tree/gh-pages/en

[2015-04-12 19:47] zoepage commented on #151
thanks!

[2015-04-12 19:47] #151 closed

[2015-04-13 14:41] #121 closed

[2015-07-02 10:58] #11 closed

[2015-07-02 10:59] espy commented on #116
This has actually been done for a while and I've just updated it again, too.

[2015-07-02 10:59] #116 closed

[2015-07-06 10:12] espy commented on #87
Code highlighting is in, at least on a global level, but it requires setting the language on each code block like this:

In HTML:

[code]

In Markdown

[code]

Note that the language identifier for HTML is not `HTML`, but `markup`.

Since we're editing all the docs and examples anyway, this will eventually get closed.

[2015-07-06 10:36] zoepage commented on #87
Could you please add this to the README.md and also ping the translation teams, so they can fix that in their translations? thank you <3

[2015-07-09 09:31] Althaire opened #175 "Hoodie Concepts → How Hoodie Works"
Not a huge issue, but I was thinking it would be good at the end of the Hoodie Concepts to not only link to the requirements page but also to the How It Works page for those who don't know. When we first looked at it, it was a little confusing to have to scroll all the way to the top just to find the link tucked away on the left.

:heart: from Team Tessie

[2015-07-09 11:34] zoepage commented on #175
Very good catch! Thank you! :heart:
@espy could you take care of this soon-ish? Would be awesome!

[2015-07-10 09:05] #175 closed

[2015-07-10 09:24] zoepage opened #177 "issues in API"
blue is saved just for links:
![bildschirmfoto 2015-07-10 um 11 22 34](https://cloud.githubusercontent.com/assets/562354/8615765/1907225a-26f6-11e5-9282-975672e26c64.png)

bulletpoints look strange:
![bildschirmfoto 2015-07-10 um 11 22 38](https://cloud.githubusercontent.com/assets/562354/8615766/1a88c926-26f6-11e5-9041-48dca8c67257.png)

[2015-07-10 09:26] zoepage commented on #177
please make sure to add the same version to de folder and ping the people for ru/ && fr/
<3

[2015-07-10 09:27] zoepage commented on #177
http://docs.hood.ie/en/techdocs/api/plugins/hoodie.email.html needs code highlighting

[2015-07-10 09:28] zoepage commented on #177
padding-top of gray box looks too small. this is fixed by adding code highlighting
![bildschirmfoto 2015-07-10 um 11 27 42](https://cloud.githubusercontent.com/assets/562354/8615833/b563e19c-26f6-11e5-8eb5-dfdcbe2a78b1.png)
- http://docs.hood.ie/en/tutorials/map-app.html
- http://docs.hood.ie/en/techdocs/api/plugins/hoodie.email.html
- http://docs.hood.ie/en/techdocs/api/plugins/hoodie.plugin.glob

[2015-07-10 09:31] zoepage opened #178 "please add chat-template to http://docs.hood.ie/en/tutorials/"
https://github.com/hoodiehq/hoodie-template-app-chat
->
![bildschirmfoto 2015-07-10 um 11 31 27](https://cloud.githubusercontent.com/assets/562354/8615908/37b33c6a-26f7-11e5-8aff-66b71c187559.png)

[2015-07-10 09:49] espy commented on #177
1. That is actually a link, so you can link to individual sections or bookmark/send them around.
2. Fixed!
3. Totally forgot, will do later :o
4. Wanted to do those after they'd been revised, but I can add highlighting quickly later, too.
5. Did you attach the wrong screenshot? There's no gray box in that one. Here's what they look like to me:

![bildschirmfoto 2015-07-10 um 11 49 01](https://clou

[2015-07-10 09:53] zoepage commented on #177
@espy oh noes, yes. the first two screenshots are mixed up. so sorry :(

[2015-07-10 09:54] zoepage commented on #177
@espy

No, you can see that in hoodie-global-shares for example

[2015-07-10 09:58] espy commented on #177
Ah, I didn't touch the plugin pages at all, that's why. I'll go over them quickly later, but since they'll change completely soon, I didn't want to do to much.

That extra big bullet point is pretty necessary when scrolling, as a visual marker where sections start. The headlines themselves aren't noticeable enough to structure the text properly. Any suggestions?

[2015-07-10 10:01] zoepage commented on #177
It seems, it's working too well for me, because I get totally distracted :grin:
What about an opacity of 0.5 for the bullet point and on hover 1.0?

[2015-07-10 11:01] espy commented on #177
Fixed everything mentioned so far except the other language folders :)

[2015-07-10 11:10] #178 closed

[2015-07-13 15:34] zoepage opened #180 "missing images"
http://docs.hood.ie/de/start/getting-started/getting-started-1.html

[2015-07-13 20:52] #180 closed

[2015-07-18 20:16] schultyy opened #182 "Broken code example in plugin docs"
I was trying out the plugin tutorial (http://docs.hood.ie/en/plugins/tutorial.html) and noticed, that the following snippet doesn't work:

[code]
`hoodie.task('directmessage').add` does not exist. I got it working by using `hoodie.task('directmessage').start`.

[2015-07-18 20:37] schultyy opened #183 "'originDb not defined' - in plugin documentation"
In http://docs.hood.ie/en/plugins/tutorial.html

[code]

there is no reference to `originDb`.

[2015-07-20 10:39] janl commented on #182
@espy can you have a look?

[2015-07-20 10:39] janl commented on #183
@espy can you have a look?

[2015-07-23 15:15] espy commented on #182
Good find, thanks for reporting! I'll change it now. Plugins are being actively worked on right now, I'll try to be more up to date with changes in the future.

[2015-07-23 15:22] #182 closed

[2015-08-21 10:38] janl opened #185 "No Subnav on Mobile makes docs hard to navigate"
I tried to look up the deployment docs on my phone and I didn’t know how to navigate there from docs.hood.ie:

![img_0853](https://cloud.githubusercontent.com/assets/11321/9406510/56851da4-4801-11e5-913f-7bad8c314ba1.PNG)
![img_0854](https://cloud.githubusercontent.com/assets/11321/9406511/576f208e-4801-11e5-9662-c3494f02e9f5.PNG)

[2015-08-30 20:17] jammon opened #186 "Document restrictions for object ids"
There seem to be restrictions on the composition of object ids (see https://github.com/hoodiehq/hoodie.js/issues/427), but I didn't find them documented.
I ran into this because I tried to use `Date.toDateString()` as id.

[2015-09-07 11:23] janl opened #189 "Document how to test a pull request or development branch locally with a full Hoodie app"
@Charlotteis asked:

Jan replied:

[code]

End of Slack transcript.

* * *

It’d be great if somebody could turn this into actual documentation-prose and submit it to the docs.

Let’s put it under http://docs.hood.ie/en/tutorials/, say http://docs.hood.ie/en/tutorials/development and leave it there until we have more relevant content for a separate developer handbook section.

[2015-09-07 12:29] varjmes commented on #189
Would the multicouch one come under something like: `docs.hood.ie/en/tutorials/development/package-testing` do you think? Node multicouch could be the example.

[2015-09-16 16:28] janl opened #192 "[DEVELOPER HANDBOOK] Hoodie Configuration"
Prelude: This is supposed to go into the future *Developer Handbook* section of the docs. I’ll put it here, so we won’t forget :)

# Hoodie Configuration

Hoodie has two separate concepts that pertain to configuration:
1. Hoodie Configuration
2. Application Configuration

Hoodie Configuration includes things like the TCP port, the `bind_address`, the path on the filesystem, where data is stored. [

[2015-09-16 16:42] gr2m commented on #192
what configuration would you store in the database? Some settings should be the same across all environments (local, production, etc) like the app name, other settings like 3rd party service credentials should rather not be stored in database for security reasons.

[2015-09-16 17:11] HipsterBrown commented on #192
For local development, the idea of a `.hoodierc` file that I could share across projects sounds wonderful. Even for onboarding new Hoodie users, giving a sample `.hoodierc` to download or copy/paste would be really simple.

The environment variables are probably one of the best options for deploying Hoodie apps to staging or production servers.

I definitely love the process of Application Configu

[2015-11-21 17:24] mheiber opened #196 "HTML injection security hole in Tutorial example"
An example in the [tutorial](http://docs.hood.ie/en/tutorials/) has an HTML injection vulnerability:

[code]

`priority` and `title` are user-generated content and could include things like `<img onload="javascript:somethingMalicious() />`

I know that in this example, each user will see only his/her own content, but that could change in the future. It's *never* a good idea to stick user input ont

[2015-11-21 23:14] gr2m commented on #196
@mheiber oh wow, thanks Max, we'll look into it! I have it on my list for next week, I'll keep you posted

[2015-11-25 21:31] gr2m commented on #196
@mheiber could you do the PR? That'd be super helpful :)

[2015-12-10 08:32] Juni4567 opened #198 "The navigation acts weird"
When i toggle the navigation on my honor 3c android phone it not only alow me to tap scroll the screen but also makes the navigation to stop functioning.

[2015-12-10 14:23] gr2m commented on #198
Thanks for reporting the issue Junaid! We are currently refactoring the implementation on the website, maybe the issue will be resolved by that already. I'll keep the issue open to check once the relaunch is ready

[2015-12-14 16:48] #196 closed

[2015-12-15 17:31] oliverklee opened #199 "XSS vulnerability in How to get started tutorial JavaScript"
The paint() function in main.js has a cross-site scripting vulnerability:

      $el.append(
        '<li data-id="' + collection[i].id + '">' +
          '<input type="checkbox"> <label>' + collection[i].title + '</label>' +
          '<input type="text" value="' + collection[i].title + '"/>' +
        '</li>'
      );

How to reproduce:

Add a to-do item with the following title:
    "/><script>

[2015-12-15 17:32] oliverklee commented on #199
The priority set in part 2 of the tutorials also needs to be escaped.

[2015-12-15 17:34] oliverklee commented on #199
Oh, I'm not quite sure whether this bug report actually belongs to the tutorial (i.e, in this project) or in one of the other hoodie projects.

[2015-12-15 17:38] oliverklee commented on #199
I've entered the same ticket at my-first-hoodie: https://github.com/hoodiehq/my-first-hoodie/issues/82

The XSS in the priorities still need to be fixed in the documentation, and the documentation also needs to be updated once the vulnerability in my-first-hoodie is fixed.

[2015-12-16 16:01] gr2m commented on #199
Thanks a ton @oliverklee! I’ve seen your other issue, too. I will look into it as fast as possible, but likely not before christmas. Maybe someone else finds some time?

[2015-12-27 14:24] gr2m commented on #199
just a quick note that I did not forget about it. I’m going trough my long list of todos right now. I need to take care of other things first, but won’t forget about this and https://github.com/hoodiehq/my-first-hoodie/issues/82. Thanks again Oliver!

[2016-01-18 12:57] gr2m commented on #199
sorry that we still didn’t get to fix these, I got it on my list, I hope to get to it soon

[2016-04-25 10:45] #6 closed

[2016-04-25 10:45] #9 closed

[2016-04-25 10:46] #8 closed

[2016-04-25 10:46] #15 closed

[2016-04-25 10:46] #17 closed

[2016-04-25 10:46] #38 closed

[2016-04-25 10:46] #49 closed

[2016-04-25 10:46] #50 closed

[2016-04-25 10:46] #67 closed

[2016-04-25 10:46] #85 closed

[2016-04-25 10:46] #87 closed

[2016-04-25 10:46] #118 closed

[2016-04-25 10:46] #127 closed

[2016-04-25 10:46] #149 closed

[2016-04-25 14:49] yuloh opened #210 "Switch markdown to kramdown"
The markdown processor needs to be switched to kramdown before May 1st.

See https://github.com/hoodiehq/documentation/pull/209#issuecomment-214277231 for context.

[2016-04-25 14:50] yuloh opened #211 "Auto-regeneration not working"
A bug in the latest version of Jekyll broke auto regeneration.

See https://github.com/hoodiehq/documentation/pull/209#issuecomment-214277231 for context.

[2016-04-25 15:15] #211 closed

[2016-04-25 15:16] #210 closed

[2016-10-24 22:33] pmbanugo opened #229 "New/Updated Hoodie camp doc"
Hi.

[2016-10-24 23:00] gr2m commented on #192
Configuration can now be passed in as CLI arguments, environment variables, `.hoodierc` filed and defaults via the app’s pacakge.json, it’s documented in https://github.com/hoodiehq/hoodie#usage

[2016-10-24 23:00] #192 closed

[2016-10-24 23:22] gr2m commented on #229
Thanks for taking the initiative! It would really help a lot to put the new documentation on the docs.hood.ie page and move the old one to something like `/legacy` or get rid of it altogether

Here are a few things I found, I suggest we create follow up issues for them:
- [x] Fix formatting for the "Private User Store" section: http://docs.hood.ie/camp/hoodieverse/glossary.html
- [x] Tutorial Part

[2016-10-27 00:07] pmbanugo commented on #229
so would opening issues for each specific task be a good way to go?

[2016-10-27 01:46] pmbanugo commented on #229
- [x] Glossary page is incomplete http://docs.hood.ie/camp/hoodieverse/glossary.html

[2016-10-27 03:16] gr2m commented on #229
Yeah that sounds good 👍

[2016-10-27 23:57] pmbanugo opened #230 "Glossary page is incomplete"
The glossary of terms [page](http://docs.hood.ie/camp/hoodieverse/glossary.html) is incomplete. It should be made comprehensive and more terms defined.

The TODO notes made in the public page should be removed and a list of terms to be added listed here while they're being defined and pushed to the live pages
- [x] Remove the todo placeholder

[2016-10-28 00:16] gr2m commented on #230
few things that come to my mind
- Split CouchDB / PouchDB into separate sections
- [Hapi](http://hapijs.com/)
- Admin Dashboard
- Promises
- browserify

And maybe let’s add a link to https://github.com/hoodiehq/documentation/issues if a term is missing?

[2016-10-28 00:49] pmbanugo opened #231 "Getting started tutorial Part 2 missing"
Tutorial Part 2 is missing: http://docs.hood.ie/camp/tutorials/

the link on the page points to the old doc which will lead readers there and they will continue on reading and navigating through the old doc which is so different from the current hoodie release.

I suggest:

1.  continuing with the part 1 and showing how to build the app tracker project while guiding them through the bits of hoodie

[2016-10-28 00:52] pmbanugo commented on #230
adding that link on http://docs.hood.ie/camp/hoodieverse/glossary.html ? I don't think so

[2016-10-28 00:55] pmbanugo opened #232 "Remove links to old hoodie sample projects"
Remove links to old hoodie sample projects (map app, chat app, time tracker) because the new Hoodie does not yet have all the required functionality

[2016-10-28 00:55] gr2m commented on #231
sounds good 👍

[2016-10-28 01:01] pmbanugo opened #233 "Create Tutorial - How to Build a Map App with Hoodie"
Make tutorial on how to build a map app with hoodie camp.

Does the new hoodie have this functionality?
- [ ] Remove the link from the public website

[2016-10-28 01:03] pmbanugo opened #234 "Create Tutorial - How to Build a Chat App with Hoodie"
Create Tutorial on - How to Build a Chat App with Hoodie

[2016-10-28 01:19] pmbanugo opened #235 "Create Tutorial - How to Build a Time Tracker App with Hoodie"
Tutorial - How to Build a Time Tracker App with Hoodie

[2016-11-01 23:10] pmbanugo opened #236 "Deployment guideline"
Guideline on how to deploy on

- [ ] Linux
- [ ] heroku

[2016-11-02 00:37] pmbanugo opened #237 "Guide on The Hoodie API"
Improve the guide on the Hoodie API: http://docs.hood.ie/camp/techdocs/api/client/hoodie.html

[2016-11-02 00:39] pmbanugo opened #238 "Doc on The account API"
Improve the doc on the account API http://docs.hood.ie/camp/techdocs/api/client/hoodie.account.html

[2016-11-02 00:40] pmbanugo opened #239 "Doc on account API"
Improve the guide on the store API: http://docs.hood.ie/camp/techdocs/api/client/hoodie.store.html

[2016-11-02 00:47] pmbanugo opened #240 "Doc on connectionStatus API"
Improve the doc on connectionStatus API: http://docs.hood.ie/camp/techdocs/api/client/hoodie.connection-status.html

[2016-11-02 00:50] pmbanugo opened #241 "Doc on the log API"
Improve the doc on log API: http://docs.hood.ie/camp/techdocs/api/client/hoodie.log.html

[2016-11-02 01:08] gr2m commented on #236
lets add https://zeit.co/now, see https://github.com/hoodiehq/hoodie-app-tracker/pull/58 for info how to do it

[2016-11-07 22:39] pmbanugo commented on #230
Do these need to be added?
- Client
- Server
- Plugins

[2016-11-07 22:59] pmbanugo commented on #230
#242 fixes some of the issues

[2016-11-08 21:26] pmbanugo opened #243 "Remove links and instruction to the old hoodie from the home page"
Going to [hood.ie](hood.ie), most links link to old hoodie pages. It leads new and sometimes existers users to the old documentation. Maybe having a separate section that points to these links as legacy system.

On this [page](http://docs.hood.ie/) it shows a message at the top that "__camp release is .... out check out the new doc__ " It's hard to noticce that link there.

I suggest a clean separ

[2016-11-08 21:27] pmbanugo commented on #229
#243 new issue opened

[2016-11-08 22:28] gr2m commented on #243
Our thinking is to finish the docs for the new hoodie as fast as possible, and then move the old docs somewhere else, hoping nobody will ever need them again :)

[2016-11-09 21:15] tgirod opened #244 "hoodie-app-skeleton failed me ..."
I've tried to use hoodie-app-skeleton to start a new project.

[code]

verbose mode does not give more information about what went wrong. If I create a new default app without the template, everything works fine.

By the way, the doc links to zoepage/hoodie-app-skeleton, which might be outdated.

[2016-11-10 04:31] gr2m commented on #244
hey @tgirod, the `hoodie-app-skeleton` repository and the Hoodie CLI are deprecated, we are currently working on a new Hoodie version that you better use to give it a try. Follow the instructions at https://github.com/hoodiehq/hoodie#setup, please let me know if you have any questions :)

[2016-11-10 04:31] #244 closed

[2016-12-16 02:03] quangv commented on #42
Just to clarify, does hoodie work with PhoneGap/Cordova?

(Not sure if _no_ means, "Yes, it _just_ works" or "No, it does not work.")

Thanks!

Edited:

https://github.com/hoodiehq/faq/issues/19 - found this

ah, I guess it _just_ works :)

[2017-01-07 04:33] #230 closed

[2017-01-07 04:34] gr2m commented on #198
we moved docs to http://hoodie.readthedocs.io/en/latest/ so this should no longer be a problem :) the docs.hood.ie domain will point to the new location soon

[2017-01-07 04:34] #198 closed

[2017-01-07 04:35] gr2m commented on #186
there no longer are any restrictions with the new Hoodie :)

[2017-01-07 04:35] #186 closed

[2017-01-07 04:35] gr2m commented on #185
should be good now as we move to http://hoodie.readthedocs.io/en/latest/

[2017-01-07 04:35] #185 closed

[2017-01-07 04:36] gr2m commented on #183
this is no longer relevant. We will create new docs for the new Plugin API soon on http://hoodie.readthedocs.io

[2017-01-07 04:36] #183 closed

[2017-01-07 04:37] gr2m commented on #128
we are moving docs to http://hoodie.readthedocs.io/

[2017-01-07 04:37] #128 closed

[2017-01-07 04:37] gr2m commented on #177
we are moving docs to http://hoodie.readthedocs.io/

[2017-01-07 04:37] #177 closed

[2022-11-08 08:13] A999-del commented on #241
Hi I am interested to resolve this task.